@use 'variables'

@font-face 
    font-family: Josefin
    src: url('../../assets/font/JosefinSans-Bold.ttf')

*
    padding: 0
    background-color: variables.$primary-color
    margin: 0
    box-sizing: border-box
    transition: .4s
    font-family: 'Josefin', sans-serif
    
            // &:after, &:before
            //         content: ""
            //         position: absolute
            //         bottom: 0
            //         left: 0
            //         right: 0
            //         top: 0
            //         transition: transform 0.3s ease-in-out
                    
            //     &::after
            //         border-top: white 4px solid
            //         border-bottom: white 4px solid
            //         border-radius: 20px
            //         transform: scaleX(0.5)
            //     &:hover::after
            //         transform: scaleX(1) 

            //     &::before
            //         border-left: white 4px solid
            //         border-right: white 4px solid
            //         transform: scaleY(0.5)
            //         border-radius: 20px     
            //     &:hover:before
            //         transform: scaleY(1)