@mixin flex-center
    display: flex
    justify-content: center
    align-items: center
@mixin mobile
    @media (max-width: 1260px)
        @content
@mixin mobile460
    @media (max-width: 460px) 
        @content
@mixin bg-img($img)
    background-image: url('../assets/img/#{$img}')
    background-size: 100%
    background-position: center
    background-repeat: no-repeat
    filter: brightness(80%)
    &:hover
        background-size: 110%
        filter: brightness(100%)
        